@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', sans-serif;

}

body{
    background-color: white;
}

* {
  box-sizing: border-box;
}

.font-comfortaa {
  font-family: 'Comfortaa', sans-serif;
}